@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .myContainer {
    @apply px-4 py-12 lg:px-10 lg:py-12 xl:px-24 xl:py-20 max-w-[1920px] m-auto;
  }

  .header-title {
    @apply font-sfPro font-light text-base lg:text-lg uppercase;
    line-height: 1.25em;
  }

  .h2 {
    @apply max-lg:text-center font-sfPro font-bold text-xl lg:text-2xl uppercase;
    line-height: 1.25em;
  }

  .h3 {
    @apply max-lg:text-center font-sfPro font-semibold text-lg lg:text-xl text-orange;
    line-height: 1.25em;
  }

  p {
    @apply font-sfPro font-normal text-base lg:text-lg;
  }

  a {
    @apply inline-block;
  }
}
/* Swiper Library */
.swiper {
  width: 100%;
  height: 100%;
  overflow: inherit !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .swiper-slide {
    padding-inline: 20px;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.swiper-pagination-bullet {
  background: #181e39 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #ed731b !important;
}
